.projects-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

li {
    list-style-type: none;
    cursor: pointer;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projects-title-wrapper, .projects-nav-wrapper {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-title-wrapper {
    font-size: 25px;
}

.projects-display-wrapper {
    height: 65%;
    width: 100%;
    overflow-y: scroll;
    gap: 50px;
    border-radius: 10px;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    background-color: rgba(166, 190, 204, .5);
}



.projects-display-wrapper::-webkit-scrollbar {
    height: 15px;
    border-radius: 10px;
}

.projects-display-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
}

.projects-display-wrapper::-webkit-scrollbar-thumb {
    background: rgb(138, 132, 132);
    border-radius: 10px;
}

.projects-display-wrapper::-webkit-scrollbar-button:end:increment {
    width: 20px;
    display: block;
    background: transparent;
}

.projects-display-wrapper::-webkit-scrollbar-button:start:increment {
    width: 20px;
    display: block;
    background: transparent;
}

@media screen and (max-width: 500px) {
    .projects-display-wrapper::-webkit-scrollbar {
        height: 5px;
    }
}

.nav-list li {
    background-color: rgb(211, 175, 154);
    border-radius: 10px;
    height: 25px;
    padding: 3px 5px;
    text-align: center;
    border: 1px solid black;
}