.details-wrapper-2 {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.links-wrappers {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first, .second, .third, .fourth {
    height: 0;
    width: 0;
    font-size: 0;
    position: absolute;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
    background-color: rgb(201, 170, 199);
}

.loaded {
    min-height: 65px;
    height: 65%;
    width: 80%;
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .first span,
        .third span {
            position: absolute;
            right: 30%;
        }
    
        .second span,
        .fourth span {
            position: absolute;
            left: 30%;
        }
}



.loaded:hover {
    height: 85%;
    width: 95%;
    font-size: 25px;
}

.first {
    left: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.second {
    right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.third {
    left: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.fourth {
    right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.picture-of-me {
    width: 17%;
    border-radius: 50%;
    position: absolute;
    right: 3%;
}

.masterball-img {
    width: 10%;
    position: absolute;
    left: 5%;
}

.dnd-img {
    width: 10%;
    border-radius: 50%;
    position: absolute;
    left: 18%;
}