.details-wrapper-2 {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.links-wrappers {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first, .second, .third, .fourth {
    min-height: 65px;
    height: 65%;
    width: 0;
    font-size: 0;
    position: absolute;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
}

.first {
    left: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.second {
    right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.third {
    left: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.fourth {
    right: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}