.single-experience-display-wrapper {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.experience-logo {
    width: 80%;
}

.experience-information-wrapper {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    transition: 1.5s;
}

.experience-position {
    height: 25%;
}

.experience-description {   
    height: 75%; 
    word-break: keep-all;
    white-space: normal;
    display: flex;
    
}   

.description-text {
    overflow-y: scroll;
    scroll-behavior: smooth;
}



.description-text::-webkit-scrollbar {
    width: 10px;
}

.description-text::-webkit-scrollbar-track {
    border-radius: 10px;
}

.description-text::-webkit-scrollbar-thumb {
    background: rgb(138, 132, 132);
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .description-text::-webkit-scrollbar {
        width: 5px;
    }
}

.bold {
    font-weight: 900;
    white-space: nowrap;
}

.description-text {
    padding-left: 5px;
}

@media screen and (max-width: 500px) {

    .experience-company-name {
        font-size: 15px;
    }

    .single-experience-display-wrapper {
        font-size: 15px;
    }

    .experience-information-wrapper {
        font-size: 10px;
    }

    .experience-logo {
        width: 65%;
    }
}