* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(133, 174, 187);
  background: linear-gradient(to top right, rgb(57, 74, 78) 25%, rgb(133, 174, 187) 75%);
}

.root {
  height: 100%;
  width: 100%;
  padding: 15px;
}

.main-app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 100%;
}

.secret-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(133, 174, 187);
  border: none;
  height: 25px;
  width: 25px;
  z-index: 500;
  font-size: 0px;
  border-radius: 50px;
}

.secret-button:hover {
  border: 1px solid black;
  background-color: rgb(57, 74, 78);
  height: 50px;
  width: 50px;
  font-size: 10px;
}

.header-wrapper {
  height: 75px;
  min-height: 75px;
  background-color: rgb(109, 129, 185);
  width: 95%;
  max-width: 800px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.header-header {
  font-size: 30px;
}

.main-wrapper {
  height:600px;
  min-height: 500px;
  background-color: rgb(109, 129, 185);
  width: 95%;
  max-width: 800px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}