.about-wrapper {
    height: 100%;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.about-title {
    font-size: 25px;
    text-decoration: underline;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: rgba(255, 255, 255, .5);
    padding: 5px;
    border-radius: 10px;
    margin: 0 50px;
}

.about-info::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 500px) {
    .about-wrapper {
        gap: 25px;
    }

    .about-info {
        font-size: .7rem;
        margin: 0;
    }
}